In [1]:
from bs4 import BeautifulSoup

In [3]:
soup = BeautifulSoup(open('./printableview.html'), 'lxml')

In [7]:
tables = soup.findAll('table')

In [9]:
table8 = tables[8]

In [15]:
#%%html
print table8.prettify()

<table border="0" cellpadding="0" cellspacing="1">
 <tbody>
  <tr>
   <td class="Label">
    Elementary:
   </td>
   <td class="value" nowrap="nowrap">
    Winston Campus-elementary (15)
   </td>
  </tr>
  <tr>
   <td class="Label">
    Junior High:
   </td>
   <td class="value" nowrap="nowrap">
    Winston Campus-junior High (15)
   </td>
  </tr>
  <tr>
   <td class="Label">
    High School:
   </td>
   <td class="value" nowrap="nowrap">
    Palatine (211)
   </td>
  </tr>
  <tr>
   <td class="Label">
    Other:
   </td>
   <td class="value" nowrap="nowrap">
   </td>
  </tr>
 </tbody>
</table>

In [31]:
my_td = table8.find('td')
my_td

In [32]:
my_td.string

u'Winston Campus-elementary (15) \xa0'

In [33]:
table8.findNext('td')

In [36]:
td_all = table8.findAll('td')

In [171]:
type(td_all[0].string.encode('ascii', 'ignore'))

str

In [41]:
def find_next_two_in_soup(soup_input, name):
    k = soup_input.find_next(name).string
    v = soup_input.find_next(name).string
    return

In [42]:
type(td_all)

bs4.element.ResultSet

In [123]:
td_all

[<td class="value" nowrap="nowrap">Winston Campus-elementary (15) \xa0</td>,
 <td class="Label">Junior\xa0High:</td>,
 <td class="value" nowrap="nowrap">Winston Campus-junior High (15) \xa0</td>,
 <td class="Label">High\xa0School:</td>,
 <td class="value" nowrap="nowrap">Palatine (211) \xa0</td>,
 <td class="Label">Other:</td>,
 <td class="value" nowrap="nowrap">  \xa0</td>]

In [166]:
td0s = td0.string
td0s.encode()

In [130]:
td0 = td_all[0]
td0c = td0.contents

td0enc = td0.encode('utf-8')
td0.encode('ascii', 'ignore')

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [140]:
[td.string.encode('ascii', 'ignore') for td in td_all]

['Winston Campus-elementary (15) ',
 'JuniorHigh:',
 'Winston Campus-junior High (15) ',
 'HighSchool:',
 'Palatine (211) ',
 'Other:',
 '  ']

In [43]:
import bs4

In [47]:
bs4.element.ResultSet.__

type

In [172]:
def extract_table_cells(table):
    td_all = table.find_all('td')
    cells = [td.string.encode('ascii', 'ignore') for td in td_all if td.string is not None]
    #[ for cell in cells if cell is not None]
    return cells

In [173]:
def kvlist2df(kvlist):
    return pd.DataFrame(zip(kvlist[0::2], kvlist[1::2]), columns=['Key', 'Value'])

In [174]:
def page2df(pagehtml):
    soup = BeautifulSoup(open(pagehtml))
    tables = soup.findAll('table')
    kvs = extract_table_cells(tables[3])
    return kvlist2df(kvs[1:])

In [177]:
df = page2df('./printableview.html')
df.to_csv('temp.csv')
#df.ix[0,0]

In [156]:
kvs = extract_table_cells(tables[3])
#print len(kvs)
#print kvs[1:]
#kvlist2df(kvs[1:])
kvs

[u'\xa0\xa0\xa0\xa0\xa0\xa0Attached Single',
 u'MLS\xa0#:',
 u'09077898',
 u'List\xa0Price:',
 u'$300,000',
 u'Status:',
 u'PCHG',
 u'List\xa0Date:',
 u'11/02/2015',
 u'Orig\xa0List\xa0Price:',
 u'$325,000',
 u'Area:',
 u'67 \xa0',
 u'List\xa0Dt\xa0Rec:',
 u'11/02/2015',
 u'Sold\xa0Price:',
 u'\xa0',
 u'\xa0',
 u'SP\xa0Incl. Parking:',
 u'Yes',
 u'Address:',
 u'1446 E Katie Ln , Palatine, Illinois 60067',
 u'Directions:',
 u'Northwest Hwy E of 53 to  Williams or to Katie',
 None,
 u'Lst.\xa0Mkt.\xa0Time:',
 u'51',
 u'Closed:',
 None,
 u'Contract:',
 None,
 u'Points:',
 None,
 u'Off\xa0Mkt:',
 None,
 u'Financing:',
 None,
 u'Contingency:',
 None,
 u'Year\xa0Built:',
 u'2005',
 u'Blt\xa0Before\xa078:',
 u'No',
 u'Curr.\xa0Leased:',
 u'No\n\t\t\t\t\t ',
 u'Dimensions:',
 u'COMMON',
 u'\xa0',
 None,
 u'Ownership:',
 u'Fee Simple w/ HO Assn.',
 u'Subdivision:',
 u'Arlington Station',
 u'Model:',
 None,
 u'Corp\xa0Limits:',
 u'Palatine',
 u'Township:',
 u'Palatine',
 u'County:',
 u'Cook',
 u'Coordinates:',
 u'\n\t\t\t\t\t\t\t\t\t\t\t\tN:14   W:19\n\t\t\t\t\t',
 u'\xa0',
 None,
 u'#\xa0Fireplaces:',
 u'1',
 u'Rooms:',
 u'7',
 u'Bathrooms (Full/Half):',
 u'2/2',
 u'Parking:',
 u'Garage',
 u'Bedrooms:',
 u'3',
 u'Master\xa0Bath:',
 u'Full',
 u'#\xa0Spaces:',
 u'\n\t\t\t\t\t\t\t\t\t\t\t\t\tGar:2\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t',
 u'Basement:',
 u'Full',
 u'Bsmnt.\xa0Bath:',
 u'Yes',
 u'Parking\xa0Incl. In\xa0Price:',
 u'Yes',
 u'Waterfront:',
 u'No',
 u'Appx\xa0SF:',
 u'2120',
 u'SF\xa0Source:',
 u'Assessor',
 u'Total\xa0Units:',
 u'4',
 u'Unit\xa0Floor\xa0Lvl.:',
 u'1',
 None,
 u'#\xa0Stories:',
 u'2',
 u'0',
 u'%\xa0Own.\xa0Occ.:',
 None,
 u'%\xa0Cmn.\xa0Own.:',
 None,
 u'Fees/Approvals:',
 None]

In [102]:
extract_table_cells(table8)

[u'Winston Campus-elementary (15) \xa0',
 u'Junior\xa0High:',
 u'Winston Campus-junior High (15) \xa0',
 u'High\xa0School:',
 u'Palatine (211) \xa0',
 u'Other:',
 u'  \xa0']

In [51]:
import pandas as pd

In [103]:
extract_table_cells(tables[10])

[u'Amount:',
 u'$282 \xa0',
 u'Frequency:',
 u'Monthly \xa0',
 u'Special\xa0Assessments:',
 u'No \xa0',
 u'Special\xa0Service\xa0Area:',
 u'No ',
 u'Master\xa0Association:',
 u'No ']

In [86]:
extract_table_cells(tables[15])

[<td><span class="iLabel">Age:</span><span class="value">6-10 Years, Recent Rehab</span></td>,
 <td><span class="iLabel">Type:</span><span class="value">Townhouse-2 Story</span></td>,
 <td><span class="iLabel">Exposure:</span><span class="value">W (West)</span></td>,
 <td><span class="iLabel">Exterior:</span><span class="value">Brick</span></td>,
 <td><span class="iLabel">Air\xa0Cond:</span><span class="value">Central Air</span></td>,
 <td><span class="iLabel">Heating:</span><span class="value">Gas, Forced Air</span></td>,
 <td><span class="iLabel">Kitchen:</span><span class="value">Island, Pantry-Closet</span></td>,
 <td><span class="iLabel">Appliances:</span><span class="value">Oven/Range, Microwave, Dishwasher, Refrigerator, Washer, Dryer</span></td>,
 <td><span class="iLabel">Dining:</span><span class="value">Combined w/ LivRm</span></td>,
 <td><span class="iLabel">Bath\xa0Amn:</span><span class="value">Separate Shower, Double Sink</span></td>,
 <td><span class="iLabel">Fireplace\xa0Details:</span><span class="value">Gas Logs</span></td>,
 <td><span class="iLabel">Fireplace\xa0Location:</span><span class="value">Living Room</span></td>,
 <td><span class="iLabel">Electricity:</span><span class="value">Circuit Breakers</span></td>,
 <td><span class="iLabel">Equipment:</span><span class="value"></span></td>,
 <td><span class="iLabel">Additional\xa0Rooms:</span><span class="value">No additional rooms</span></td>]

In [72]:
len(tables)

20